@media(max-width: 425px)
{
    h1
    {
        color:wheat;
    }

    #profile-image
    {
        width: 150px;
        height: 150px;
    }
}

@media(min-width: 426px) and (max-width: 767px)
{
    h1
    {
        color:wheat;
    }
}

@media(min-width: 768px) and (max-width: 1388px)
{
    
}

@media(min-width: 1388px)
{
    h1
    {
        color:wheat;
    }
    .textToWrite
    {
        padding:10px;
    }

    body
    {
        font-size: 27px; 
        overflow: hidden;
    }
}

body
{
    font-family: 'Agency FB', arial, serif;
    background-color: #303030;
    margin-right : 3%;
    margin-left: 3%;
    color:whitesmoke;
}








